<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name.capitalize %></td>
        <td><%= artist.genre.name %></td>
        <td><%= link_to '', artist, class: 'fa fa-eye', alt: 'view' %></td>
        <td><%= link_to '', edit_artist_path(artist), class: 'fa fa-pencil', alt: 'edit' %></td>
        <td><%= link_to '', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash', alt: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path, class: 'btn btn-success'  %>
